@model WebStoryFroEveryting.Models.Lessons.LessonViewModel

@{
    Layout = "_LayoutLessons";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Lessons/create.css" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <form method="post" action="/Lessons/Edit">
            @Html.HiddenFor(x => x.Id)

            <div>
                @Html.TextBoxFor(x => x.Title, new { placeholder = "Заголовок" })
            </div>
            <div>
                @Html.TextBoxFor(x => x.Source, new { placeholder = "Ссылка на видео" })
            </div>
            <div>
                @Html.TextBoxFor(x => x.Preview, new { placeholder = "Ссылка на превью изображения" })
            </div>

            <div>
                <button type="submit">Обновить</button>
            </div>
        </form>
    </div>
</body>
</html>
