/* Общие стили для страницы */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Стили для контейнера формы */
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%; /* Адаптивная ширина */
    margin: 60px auto 0; /* Отступ сверху (высота шапки) и автоматическое выравнивание по горизонтали */
}

/* Стили для полей формы */
.form-container div {
    margin-bottom: 20px;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-container input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-container input[type="text"]::placeholder {
    color: #aaa;
}

/* Стили для кнопки отправки */
.form-container button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-container button[type="submit"]:hover {
    background-color: #0056b3;
}


